
header {
    background-color: brown;
    color: black;
  
}
#title {
    display: flex;
    justify-content: center;
}
#menu {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: black;
}
#menu a:hover {
    color: red;
}
#content {
    justify-content: space-around;
    display: flex;
    float: left;
    list-style-type:none;
    
}
#content li {
    background-color: brown;
    margin-top: 15px;
    color: white;
    padding: 20px;
    font-size: 25px;
    border-radius: 30px;
  } 
  
#content li:hover {
  
    background-color: black;
  
} 
  
#content tr th{
    background-color: rgb(219, 104, 10);
  }